body{
    width: 1920px;
    height: 1080px;
    flex-shrink: 0;
    background-image:url("C:\Users\alexandroska\Desktop\technikonproject\public\login-background.png");
    opacity: 0.8799999952316284;
    background: var(--background-color, radial-gradient(103.88% 58.43% at 56.74% 50%, rgba(0, 133, 255, 0.78) 0%, rgba(0, 52, 101, 0.78) 100%));
    mix-blend-mode: multiply;
    
}


